<mat-card>
  <mat-card-header>
    <mat-card-title>Szczegóły lekcji</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>{{ lesson.title }}</h2>
    <p>Opis: {{ lesson.content }}</p>
    <mat-divider></mat-divider>

    <h3>Lista zasobów</h3>
    <table mat-table [dataSource]="resources" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let resource"> {{resource.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let resource"> {{resource.title || 'Brak tytułu'}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let resource"> {{resource.type || 'Brak typu'}} </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let resource">
          <a *ngIf="resource.url" href="{{resource.url}}" target="_blank">{{resource.url}}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-raised-button color="primary" (click)="addResource(lesson)">Dodaj zasób</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="closeDialog()">Zamknij</button>
  </mat-card-actions>
</mat-card>
